@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<!DOCTYPE html>
<html>
<head>
    <title>Redmine Issues</title>
</head>
<body>
    <h1>Redmine Issues</h1>

    <ul>
        @foreach (var issueDetail in Model.IssueDetails)
        {
            <li>@issueDetail</li>
        }
    </ul>
</body>
</html>